{extend name="$BASE_POPUP_FORM" /}
{block name="body"}
  
<div class="box-content">
    <input type="hidden" id="id" name="id" />  
        <div class="control-group">
            <label class="control-label">
                奖池总额</label>
            <div class="controls">
                <input type="text" name="pool_total_amount" id="pool_total_amount" class="form-control required" />
            </div>
        </div>
  

</div>
{/block}

{block name="script"}
<script type="text/javascript">


</script>
{/block}