<!DOCTYPE HTML>
<html>
    <head>
        <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta name="renderer" content="webkit">
        <meta name ="viewport" content ="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
        <title>{$title}</title>
        <script type="text/javascript" src="__STATIC__/jquery/jquery.min.js"></script>
        <script type="text/javascript" src="__STATIC__/bootstrap/bootstrap.min.js"></script>
        <script type="text/javascript" src="__STATIC__/layer/layer.js"></script>
        <script type="text/javascript" src="__STATIC__/js/common.js"></script>
        <script type="text/javascript" src="__STATIC__/jquery/jquery.form.ui.js"></script>
        <script type="text/javascript" src="__STATIC__/jquery/jquery.form.js"></script>


        <link rel="stylesheet" href="__CSS__/bootstrap.min.css">
        <link rel="stylesheet" href="__CSS__/style.css">
        <link rel="stylesheet" href="__CSS__/otc.css">
        <link rel="stylesheet" href="__CSS__/page.css">

        <script src="__JS__/leftTime.min.js"></script>
        <script type="text/javascript" src="__JS__/page.js"></script>
    </head>
    <body>
        {include file="$PUBLIC_HEADER"/}
        {block name="body"}

        {/block}
        {block name="script"}{/block}
    </body>
</html>