{extend name="$BASE_POPUP_FORM" /}
{block name="body"}

<div class="box-content">
    <div class="control-row col-2">
        <div class="control-group">
            <label class="control-label">ETH最小数量</label>
            <div class="controls">
                <input type="text" name="min" class="form-control" placeholder="不填则为以上"/>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">ETH最大或以上</label>
            <div class="controls">
                <input type="text" name="max" class="form-control required" />
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">空投奖金比率</label>
            <div class="controls">
                <input type="text" name="rate"  class="form-control required" />
            </div>
        </div>

    </div>
</div>
{/block}
{block name="script"}
<script type="text/javascript">

</script>
{/block}




















