<div class="p3d-fonts">
    <h4><span class="font-green">你</span>要投资吧？</h4>
    <h4><span class="font-green">P3D</span>从我们所有的<span class="font-pink">3D</span>游戏中获得被动的ETH红利！</h4>
    <h1>平均每日体积</h1>
    <h1><span class="p3d-number">{$total_token_amount} </span> <svg class="svg-inline--fa fa-ethereum fa-w-10 icon-green" aria-hidden="true" data-prefix="fab" data-icon="ethereum" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" data-fa-i2svg=""><path fill="currentColor" d="M311.9 260.8L160 353.6 8 260.8 160 0l151.9 260.8zM160 383.4L8 290.6 160 512l152-221.4-152 92.8z"></path></svg></h1>
</div>
<div class="p3d-card">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 p3d-col">
            <div class="box">
                <div class="box-cont">
                    <h2>总金额</h2>
                    <p>智能合约处理的总金额</p>
                    <div class="stat"> <span id="totalVolume" class="ethglitch titleglow-green">{$total_token_amount} </span><svg style="font-size: 2.8rem;" class="svg-inline--fa fa-ethereum fa-w-10 ethglow-green" aria-hidden="true" data-prefix="fab" data-icon="ethereum" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" data-fa-i2svg=""><path fill="currentColor" d="M311.9 260.8L160 353.6 8 260.8 160 0l151.9 260.8zM160 383.4L8 290.6 160 512l152-221.4-152 92.8z"></path></svg>
                    </div>
                    <p><trans oldtip="10% of all volume the p3d token experiences, is taxxed and split across all p3d owners as passive eth " newtip="p3d令牌体验量的10%被征税并作为被动ETH分配给所有p3d所有者。" style="">p3d令牌体验量的10%被征税并作为被动ETH分配给所有p3d所有者。</trans><svg class="svg-inline fa-ethereum fa-w-10" aria-hidden="true" data-prefix="fab" data-icon="ethereum" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" data-fa-i2svg=""><path fill="currentColor" d="M311.9 260.8L160 353.6 8 260.8 160 0l151.9 260.8zM160 383.4L8 290.6 160 512l152-221.4-152 92.8z"></path></svg><trans oldtip=" income. " newtip="收入。"> 收入。</trans></p>
                </div>
                <div class="box-drop">
                    <p>P3D是第一个成功的键合Etruum令牌模型。</p>
                    <p>把它想象成一种“黄金”支持的加密货币。</p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 p3d-col">
            <div class="box">
                <div class="box-cont">
                    <h2>股息</h2>
                    <p>智能合约处理的总金额</p>
                    <div class="stat"> 
                        <span id="totalVolume1" class="ethglitch titleglow-green">{$total_token_bonus} </span>
                        <svg style="font-size: 2.8rem;" class="svg-inline--fa fa-ethereum fa-w-10 ethglow-green" aria-hidden="true" data-prefix="fab" data-icon="ethereum" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" data-fa-i2svg=""><path fill="currentColor" d="M311.9 260.8L160 353.6 8 260.8 160 0l151.9 260.8zM160 383.4L8 290.6 160 512l152-221.4-152 92.8z"></path></svg>
                    </div>
                    <div class="progress"> <div style="width:100%" class="progress_bar"></div> </div>
                    <p>智能合约处理的是支付，而不是人类。</p>
                </div>
                <div class="box-drop">
                    <p>P3D是第一个成功的键合Etruum令牌模型。</p>
                    <p>把它想象成一种“黄金”支持的加密货币。</p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 p3d-col">
            <div class="box">
                <div class="box-cont">
                    <h2>全时平均数</h2>
                    <p>第一个键合令牌</p>
                    <div class="star-left">
                        <p>每日：<strong>{$daily_avg_amount}</strong><svg style="font-size: 2.8rem;" class="svg-inline-sm fa-ethereum fa-w-10 ethglow-green" aria-hidden="true" data-prefix="fab" data-icon="ethereum" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" data-fa-i2svg=""><path fill="currentColor" d="M311.9 260.8L160 353.6 8 260.8 160 0l151.9 260.8zM160 383.4L8 290.6 160 512l152-221.4-152 92.8z"></path></svg></p>
                        <p>每日股息：<strong>{$daily_avg_bonus}</strong><svg style="font-size: 2.8rem;" class="svg-inline-sm fa-ethereum fa-w-10 ethglow-green" aria-hidden="true" data-prefix="fab" data-icon="ethereum" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" data-fa-i2svg=""><path fill="currentColor" d="M311.9 260.8L160 353.6 8 260.8 160 0l151.9 260.8zM160 383.4L8 290.6 160 512l152-221.4-152 92.8z"></path></svg></p>
                        <!--<p>每日100 P3D：<strong>0.01601</strong><svg style="font-size: 2.8rem;" class="svg-inline-sm fa-ethereum fa-w-10 ethglow-green" aria-hidden="true" data-prefix="fab" data-icon="ethereum" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" data-fa-i2svg=""><path fill="currentColor" d="M311.9 260.8L160 353.6 8 260.8 160 0l151.9 260.8zM160 383.4L8 290.6 160 512l152-221.4-152 92.8z"></path></svg></p>-->
                        <p>token总数：<strong>{$total_token_num}</strong></p>
                        <!--<p>市值：<strong>$30,749,495</strong></p>-->
                    </div>
                </div>
                <div class="box-drop">
                    <p>P3D是第一个成功的键合Etruum令牌模型。</p>
                    <p>把它想象成一种“黄金”支持的加密货币。</p>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/jacascript">
    
    
</script>