{extend name="$BASE_POPUP_FORM" /}
{block name="body"}

<div class="box-content">   
    <input type="hidden" id="id" name="id" />

    <div class="control-group">
        <label class="control-label">反馈用户</label>
        <div class="controls">
            <input type="text" id="user_name" readonly name="user_id" class="form-control" />
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">反馈标题</label>
        <div class="controls">
            <input type="text" id="title" name="title" readonly class="form-control" />
            </div>
    </div>
    <div class="control-group">
        <label class="control-label">反馈内容</label>
        <div class="controls">
            <textarea style="width:400px;height:300px" readonly name="content"  id="content"  class="textarea" ></textarea>
        </div>
    </div>
<!--    <div class="control-group">
        <label class="control-label">反馈图片</label>
        <div class="controls">
            <img src="{$pic}" alt="反馈图片" style="width:400px;height:300px;">
        </div>
    </div>-->

<!--    <div class="control-group">
        <label class="control-label">反馈回复</label>
        <div class="controls">
            <script id="container" name="back_content" type="text/plain">{$back_content}</script>
            <textarea style="width:400px;height:300px" name="content" id="content" placeholder="请输入内容" class="textarea" ></textarea>                                 
        </div>
    </div>-->
</div>
<!-- 配置文件 -->
<script type="text/javascript" src="__STATIC__/ueditor/ueditor.config.js"></script>
<!-- 编辑器源码文件 -->
<script type="text/javascript" src="__STATIC__/ueditor/ueditor.all.js"></script>
<!-- 实例化编辑器 -->
<script type="text/javascript">
    var ue = UE.getEditor('container',{
        initialFrameWidth:600  //初始化编辑器宽度,默认1000
        ,initialFrameHeight:300  //初始化编辑器高度,默认320
    });
</script>
{/block}
{block name="script"}
<script type="text/javascript">
    
</script>
{/block}


