{extend name="$BASE_LIST" /}
{block name="body"}
<div class="right-main">
    <div class="page_nav" id="js_page_nav"><span class="page_title"></span></div>
    <!--    <div id="js_main_header" class="ui-form main_header">
            <span class="frm_input_box search append">
                <a href="javascript:void(0);" id="js_search" class="frm_input_append">
                    <i class="icon fa fa-search" title="搜索"></i>
                </a>
                <input type="text" id="js_keyword" placeholder="请输入糖果名称" value="" class="frm_input" />
            </span>
            <span class="right">
                <button type="button" id="js_addBtn" class="btn btn-primary"><i class="icon fa fa-plus"></i> 添加糖果</button>
            </span>
        </div>-->
    <table id="grid-table">
        <thead>
        <tr>
            <th data-options="field:'username',width:100,align:'center'">用户名称</th>
            <th data-options="field:'phone',width:150,align:'center',formatter:formatterHTML">手机号</th>
            <th data-options="field:'title',width:170,align:'center',formatter:formatterHTML">标题</th>
            <th data-options="field:'content',width:350,align:'center',formatter:formatterHTML">内容</th>
            <!--<th data-options="field:'status',width:350,align:'center',formatter:backStatus">状态</th>-->
            <th data-options="field:'update_time',width:160,align:'center'">提交时间</th>
            <th data-options="field:'create_time',width:160,align:'center'">回复时间</th>
            <th data-options="field:'_oper',width:160,align:'center',halign:'center',formatter: formatOper">操作</th>
        </tr>
        </thead>
    </table>
</div>
{/block}
{block name="script"}
<script type="text/javascript">
    $(function () {
        $('#grid-table').datagrid({
            url: getURL('loadList'),
            method: "GET",
            height: getGridHeight(),
            rownumbers: true,
            singleSelect: true,
            remoteSort: false,
            multiSort: true,
            emptyMsg: '<span>无相关数据</span>',
            pagination: true,
            pageSize: 20
        });
        //设置分页控件 
        $('#grid-table').datagrid('getPager').pagination({
            pageSize: 20, //每页显示的记录条数，默认为10 
            pageList: [20, 30, 50]
        });
    });
    function formatOper(value, row, index) {
        var html = '<span class="grid-operation">';
        html += '<button type="button" onclick="edit(' + row['id'] + ')" class="btn btn-xs btn-default edit-btn"><i class="icon wb-edit"></i>编辑</button>';
        html += '<button type="button" onclick="del(' + row['id'] + ')" class="btn btn-xs btn-default del-btn"><i class="icon wb-close"></i>删除</button>';
        html += '</span>';
        return html;
    }

    function edit(id){
        var url = getURL('edit', 'id=' + id);
        openBarWin('查看留言', 800, 600, url, function () {
            reload();
        }, ['确定','取消']);
    }

    function formatterHTML(value,row,index){
        if (value != '' && value != null && typeof(value) != 'undefined') {
            return value.replace(/<[^<>]+?>/g,'');//删除所有HTML标签
        } else {
            return '';
        }
    }

    function backStatus(value,row,index){
        var html = '未回复';
        console.log(value);
        if(value !=0){
            html = '已回复';
        }
       return html;
    }
    function del(id) {
        confirm("确认要删除此反馈吗？", function () {
            var url = getURL('del');
            $.getJSON(url, {id: id}, function (json) {
                if (json.success)
                    reload();
                else
                    alert(json.message);
            });
        });
    }


    function reload() {
        $('#grid-table').datagrid('reload');
    }
</script>
{/block}