{extend name="$BASE_INDEX" /}
{block name="body"}
<div class="f3d-bg"></div>
<div class="warpper">
    {include file="public/header" /}
    <div class="container">
        {include file="key_game/body_top" /}
        <div class="p3d-trade mt-80">
            <div class="row">
                {include file="key_game/trade" /}
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-margin">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#round" data-toggle="tab">本轮摘要</a></li>
                        <li><a href="#team" data-toggle="tab">队伍</a></li>
                        <li><a href="#count" data-toggle="tab">统计</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="round">
                            <div class="p3d-buy">
                                <h3>第 <span class="game_id">1</span> 轮</h3>
                                <hr style="border-top: 1px solid rgba(0,0,0,.1);" />
                                <div class="f3d-game-time">
                                    <p>距离游戏结束倒计时</p>
                                    <p><span class="date_show"><em class="hour">00</em> : <em class="minute">00</em> : <em class="second">00</em>
                                        </span></p>
                                </div>
                                <div class="progress-f3d">
                                    <div class="progress-bar boxglow" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <div class="p3d-gold" style="padding-left: 0; padding-right: 0;">
                                    <div class="box f3d-box">
                                        <div class="item">
                                            <div class="item-left">终极大奖池</div>
                                            <div class="item-right">
                                                <div class="f3d-money-purp"><span class="pool_total_amount" style="font-size:3rem">0.00</span> ETH <svg class="svg-f3d-md fa-ethereum fa-w-10 ethglow" aria-hidden="true" data-prefix="fab" data-icon="ethereum" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" data-fa-i2svg="">
                                                        <path fill="currentColor" d="M311.9 260.8L160 353.6 8 260.8 160 0l151.9 260.8zM160 383.4L8 290.6 160 512l152-221.4-152 92.8z"></path>
                                                    </svg></div>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="item-left">我的Keys</div>
                                            <div class="item-right">
                                                <div class="userkeybum"><span class="keycount" style="font-size:3rem"> 0 </span> <svg class="svg-f3d-md fa-key fa-w-16" aria-hidden="true" data-prefix="fas" data-icon="key" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg="">
                                                        <path fill="currentColor" d="M512 176.001C512 273.203 433.202 352 336 352c-11.22 0-22.19-1.062-32.827-3.069l-24.012 27.014A23.999 23.999 0 0 1 261.223 384H224v40c0 13.255-10.745 24-24 24h-40v40c0 13.255-10.745 24-24 24H24c-13.255 0-24-10.745-24-24v-78.059c0-6.365 2.529-12.47 7.029-16.971l161.802-161.802C163.108 213.814 160 195.271 160 176 160 78.798 238.797.001 335.999 0 433.488-.001 512 78.511 512 176.001zM336 128c0 26.51 21.49 48 48 48s48-21.49 48-48-21.49-48-48-48-48 21.49-48 48z"></path>
                                                    </svg></div>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="item-left">我的收益</div>
                                            <div class="item-right">
                                                <div><span class="current_game_total_reward" style="font-size:3rem">0.0000</span> <svg class="svg-f3d-md fa-ethereum fa-w-10 ethglow" aria-hidden="true" data-prefix="fab" data-icon="ethereum" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" data-fa-i2svg="">
                                                        <path fill="currentColor" d="M311.9 260.8L160 353.6 8 260.8 160 0l151.9 260.8zM160 383.4L8 290.6 160 512l152-221.4-152 92.8z"></path>
                                                    </svg></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade in" id="team">
                            <div class="p3d-buy">
                                <h3>队伍</h3>
                                <div class="f3d-team-row">
                                    {volist name="teams" id="vo"}
                                    <div class="f3d-team-col">
                                        <div class="f3d-team-box">
                                            <div class="name">{$vo.name}</div>
                                            <div class="img">
                                                <img src="{$vo.pic}">
                                            </div>
                                            <hr style="border-top: 1px solid rgba(0,0,0,.1);" />
                                            <div class="total"><span class="team_total" data-id="{$vo.id}">0.0000</span> ETH</div>
                                        </div>
                                    </div>
                                    {/volist}
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade in" id="count">
                            <div class="p3d-buy">
                                <h3>第 <span class="game_id">1</span> 轮统计（当前）</h3>
                                <div class="p3d-gold" style="padding-left: 0; padding-right: 0;">
                                    <div class="box f3d-box">
                                        <div class="item">
                                            <div class="item-left">总投资额：</div>
                                            <div class="item-right">
                                                <div class="f3d-total-amount">0.000 <svg class="svg-f3d-md fa-ethereum fa-w-10 ethglow" aria-hidden="true" data-prefix="fab" data-icon="ethereum" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" data-fa-i2svg="">
                                                        <path fill="currentColor" d="M311.9 260.8L160 353.6 8 260.8 160 0l151.9 260.8zM160 383.4L8 290.6 160 512l152-221.4-152 92.8z"></path>
                                                    </svg></div>
                                                <!--<p>≙ 270,473.86 USDT</p>-->
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="item-left">已发奖金：</div>
                                            <div class="item-right">
                                                <div class="f3d-money">0.000 <svg class="svg-f3d-md fa-key fa-w-16" aria-hidden="true" data-prefix="fas" data-icon="key" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg="">
                                                        <path fill="currentColor" d="M512 176.001C512 273.203 433.202 352 336 352c-11.22 0-22.19-1.062-32.827-3.069l-24.012 27.014A23.999 23.999 0 0 1 261.223 384H224v40c0 13.255-10.745 24-24 24h-40v40c0 13.255-10.745 24-24 24H24c-13.255 0-24-10.745-24-24v-78.059c0-6.365 2.529-12.47 7.029-16.971l161.802-161.802C163.108 213.814 160 195.271 160 176 160 78.798 238.797.001 335.999 0 433.488-.001 512 78.511 512 176.001zM336 128c0 26.51 21.49 48 48 48s48-21.49 48-48-21.49-48-48-48-48 21.49-48 48z"></path>
                                                    </svg></div>
                                                <!--<p>≙212,444.46 USDT </p>-->
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="item-left">已购时间：</div>
                                            <div class="item-right">
                                                <div class="f3d-seconds"><span class="total_buy_seconds" style="font-size:3rem">0</span>秒 
<!--                                                    <svg class="svg-f3d-md fa-ethereum fa-w-10 ethglow" aria-hidden="true" data-prefix="fab" data-icon="ethereum" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" data-fa-i2svg="">
                                                        <path fill="currentColor" d="M311.9 260.8L160 353.6 8 260.8 160 0l151.9 260.8zM160 383.4L8 290.6 160 512l152-221.4-152 92.8z"></path>
                                                    </svg>-->
                                                </div>
                                                <!--<p> 720 Seconds</p>-->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{/block}
{block name="script"}
<script type="text/javascript" src="__JS__/leftTime.min.js"></script>
<script type="text/javascript">
    var bodyWidth = $('body').width(), layerWidth;
    if (bodyWidth >= 450) {
        layerWidth = '50%';
    } else {
        layerWidth = '80%';
    }

    $("[data-toggle='popover']").popover();
    
    {if condition="$username neq ''"}
    $('#withdraw').on('click', function () {
        var url = getURL('fomobase/withdraw', {coin_id:coin_id}, 'fomo');
        openBarWin('提取', layerWidth, 250, url, function (data) {
            msg('提取成功')
            if(data > 0){
                location.reload();
            }else{
                msg(data.message)
            }
        }, ['提交', '取消']);
    });
    {/if}
    
    

</script>
{/block}