{extend name="$BASE_POPUP_FORM" /}
{block name="body"}
<input type="hidden" id="id" name="id" />
<input type="hidden" id="json" name="json"  value=""  />
<div class="box-content">
        {volist name="list" id="vo"}
            <div class="control-group">
                <label class="control-label">{$vo.type_name}</label>
                <select name="{$vo.field}" class="required form-control" style='width:100px'>                
                    <option value="0" {if condition="$vo['status'] eq 0"}selected{/if}>禁用</option>
                    <option value="1" {if condition="$vo['status'] eq 1"}selected{/if}>启用</option>
                </select> 
            </div>
        {/volist}
</div>
{/block}

{block name="script"}
<script type="text/javascript">
function chkForm() {
    var data = {};
    $("input[type='text']").each(function () {
        var name = $(this)[0].name;
        if(name != ''){
            data[name] = $(this).val();
        }
    });
    $("select").each(function () {
        var name = $(this)[0].name;
        var val = $(this).val();
        data[name] = val;
    });
    $("#json").val(JSON.stringify(data));
    return true;
}
</script>
{/block}