{extend name="$BASE_LIST" /}
{block name="body"}

<div class="right-main">
    <div class="page_nav" id="js_page_nav"><span class="page_title">{$page_nav}</span></div>
    <ul class="tab_navs" id="js_tab_navs">
        <li class="{if condition='$status eq 1'}current{/if}"><a class="pjax" href="{:getUrl('index','status=1')}">未审核</a></li>
        <li class="{if condition='$status eq 2'}current{/if}"><a class="pjax" href="{:getUrl('index','status=2')}">已通过</a></li>
        <li class="{if condition='$status eq 3'}current{/if}"><a class="pjax" href="{:getUrl('index','status=3')}">未通过</a></li>
    </ul>
    <div id="js_main_header" class="ui-form main_header">
        <!--{if condition="$status eq 1"}-->
        <!--<span>-->
            <!--<select name="type" id="type" class="form-control" style="width:120px">-->
                <!--<option value="">全部</option>-->
                <!--<option value="0">转出</option>-->
                <!--<option value="1">转入</option>-->
            <!--</select>-->
        <!--</span>-->
        <!--{/if}-->
        <span class="frm_input_box search append">
            <a href="javascript:void(0);" id="js_search" class="frm_input_append">
                <i class="icon wb-search" title="搜索"></i>
            </a>
            <input type="text" id="js_keyword" placeholder="请输入用户名" value="" class="frm_input" />
        </span>
    </div>
    <table id="grid-table">
        <thead frozen="true">
        <th data-options="field:'username',width:100,align:'center'">用户名称</th>
        <th data-options="field:'phone',width:100,align:'center'">手机号</th>
        <th data-options="field:'agency_level',width:120,align:'center'">等级</th>
        <th data-options="field:'update_time',width:120,align:'center'">更新时间</th>
        <th data-options="field:'_oper',width:140,halign:'center',formatter: formatOper">操作</th>
        </thead>
    </table>
</div>

{/block}
{block name="script"}
<script type="text/javascript">
    var status = '{$status}'
    $("#js_search").click(function () {
        reload();
    });
    $(function () {
        $('#grid-table').datagrid({
            url: getURL('loadList','status='+status),
            method: "GET",
            height: getGridHeight(),
            rownumbers: true,
            singleSelect: true,
            remoteSort: false,
            multiSort: true,
            emptyMsg: '<span>无相关数据</span>',
            pagination: true,
            showFooter:true,
            pageSize: 20,
            onLoadSuccess: function(data){
                $('#grid-table').datagrid('reloadFooter', [
                    {
                        phone: '统计',
                        amount: data.count_total
                    }
                ]);
            }
        });
        //设置分页控件 
        $('#grid-table').datagrid('getPager').pagination({
            pageSize: 20, //每页显示的记录条数，默认为10 
            pageList: [20, 30, 50]
        });
    });
    
    function check(id) {
        if ($(this).hasClass("disabled")) {
            return;
        }
        var url = getURL('edit', 'id=' + id);
        openBarWin('审核', 400, 300, url, function () {
            reload();
        }, ['确定', '取消']);
    }

    function appr(id){
        confirm("确定要审核所选订单吗？", function () {
            var url = getURL('appr');
            showLoading('处理转账中...');
            $.post(url, {id:id}, function (json) {
                hideLoading();
                if (json.success)
                    reload();
                else{
                    msg(json.message);
                }
            });
        });
    }

    function cancelAppr(id){
        confirm("确定要驳回申请吗?", function () {
            var url = getURL('cancel_appr');
            $.post(url, {id:id}, function (json) {
                if (json.success)
                    reload();
                else{
                    msg(json.message);
                }

            });
        });
    }

    function formatOper(value, row, index) {
        var html = '<span class="grid-operation">';
        if(row['status'] == 1){
            html += '<button type="button" onclick="check(' + row['id'] + ')" class="btn btn-xs btn-default edit-btn"><i class="icon wb-edit"></i>审核</button>';
            html += '<button type="button" onclick="cancelAppr(' + row['id'] + ')" class="btn btn-xs btn-default edit-btn"><i class="icon wb-edit"></i>不通过</button>';
        }
//        html += '<button type="button" onclick="del(' + row['id'] + ')" class="btn btn-xs btn-default del-btn"><i class="icon wb-close"></i>删除</button>';
        html += '</span>';
        return html;
    }

    function formatStatus(value,row,index){
        var tx_arr=['未审核','已完成','未通过','处理中','转出成功','异常'];

        return tx_arr[value];
    }

    function formatType(value,row,index){
        if(row['id']){
            var text ='<span style="color:red">转出</span>'
            if(value == 1){
                text = '<span style="color:green">转入</span>'
            }
            return text
        }
    }

    $("#type").change(function(){
        reload();
    })

    function reload() {
        var keyword = $("#js_keyword").val();
        var type = $("#type").val();
        $('#grid-table').datagrid('reload', {
            keyword: keyword,
            type:type
        });
    }

</script>
{/block}